<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1> Congratulations! You have got a new booking from <%= @customer %>. </h1>
	<p> You can see all reservation's details in <a href='http://localhost:3000/listings/#{listing}/reservations/show'> listing's reservations</a>.</p>
</body>

</html>