<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1> Congratulations! You have got a new booking from <%= @customer.name %>. You can contact your new guest at <%= @customer.email %>.</h1>
	<p> You can see all reservation's details under listing/reservations</a>.</p>
</body>

</html>