


h1{
	position:relative; left:30px;
}

#description{
	font-size: 25px;
	color: #606A6E;
}

#horisont_stripe2 {
	height:1px;
	width:200px;
	background-color: #FCDDB8;

}

#horisont_stripe{
	height:2px;
	background-color: #FCDDB8;
}
#under_title{
	position:relative; left:200px;
}

.listing_title{
	font-family: "Georgia";
	position:relative; left:30px;
	font-size: 50px;
}

.carousel-inner>.item>img {
	max-width:100%; 
  max-height:100%;
  margin:auto;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

#reservation_button {
	background: white;
	
	border-color: #43C732;

}

.comment_container{
	background-color: #F0F0F0;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.price3{

	font-size: 50px;
	text-align: left;
	font-family: "Georgia";
}