h3{
    position:relative; left:40px;
}

#for {
    line-height: 1px;

}

.price {
    font-family: "Impact";
    padding-left: 20px;
    font-size: 220%;
    
}
.price2 {
    padding-left: 50px;
    font-size: 190%;
    
}


#title{
    font-size: 40px;
    font-family: "Times New Roman";
}



#empty {
    width: 400px;

}
th {
    border: 1px solid black;
}

#vertical {
    margin: 20px;
    width: 2px;
    height: 100px;
    background-color: #FCDDB8;
}

.navbar-brand{
    font-family: "Trebuchet MS";
}

#t_index {
    border: 1px;
    text-align: left;
    padding: 5px;
}

#across{
    height: 1px;
    background-color: rgb(220, 220, 220);
    ;
}

    #hed1 {border: none;}
    #stipe-top {background-color: #FCDDB8; height: 5px; border-radius: 20px;}
    #stipe-mid {background-color: #FCC179; height: 7px;border-radius: 20px;}
    #stipe-bottom {background-color: #FAA53E; height: 9px;border-radius: 20px;}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


